<div>
  Hello <%= host %>
  <p>Below are the details for your scheduled Zoom call. <b>Remember</b> to always have your host key available.</p>
  <br />
  <p><b>Host Join Key:</b> <%= hostJoinKey %></p>
  <p><b>Topic:</b> <%= topic %></p>
  <p><b>Description:</b> <%= agenda %></p>
  <p><b>Time:</b> <%= datetime %></p>
  <p><b>Recurring</b> <% reccurrence ? `Yes - ${reccurrence}` : 'No' %></p>
  <p>
    <b>Join Zoom Meeting</b> <br />
    <a>https://zoom.cogef.org/host-join?meetingID=<%= meetingID %> </a>
  </p>
  <p><b>Meeting ID:</b> <%= meetingID %></p>
  <p><b>Meeting Password</b> <%= password %></p>
  <p>
    <b>One tap mobile</b>
    <br />
    Example : +16465588656,,85317643909# US (New York)
  </p>
  <p>
    Dial by your location<br />
    +1 646 558 8656 US (New York)<br />
    +1 301 715 8592 US (Washington D.C)<br />
    +1 312 626 6799 US (Chicago)<br />
    +1 669 900 9128 US (San Jose)<br />
    +1 253 215 8782 US (Tacoma)<br />
    +1 346 248 7799 US (Houston)<br />
    Find your local number: <a href="https://us02web.zoom.us/u/kd14NMZo3R">https://us02web.zoom.us/u/kd14NMZo3R</a>
  </p>
</div>
